<app-profiles-menu style="
  display: flex;
  flex-direction: row-reverse;
  margin: 0 24px;
"></app-profiles-menu>

<!-- ======= About Me ======= -->
<div class="about-me container" style="margin-top: 100px">

  <div class="section-title">
    <h2>About</h2>
    <p>Learn more about me</p>
  </div>

  <div class="row">
    <div class="col-lg-4" data-aos="fade-right">
      <img alt="" class="img-fluid" src="/images/me.jpg">
    </div>
    <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
      <h3>Full Stack Software Developer</h3>
      <p class="fst-italic">
        A developer more than seven years of experience Fullstack software developer, four years of which as a backend
        developer for bank integration systems such as ISO8583 and QRIS (Quick Response Code Indonesian Standard) for
        EDC (Electronic Data Capture)
      </p>
      <div class="row">
        <div class="col-lg-6">
          <ul>
            <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+62-82340028400</span></li>
            <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>NTB, Indonesian</span></li>
            <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>agussuhardi.dev&#64;gmail.com</span>
            </li>
            <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li>
          </ul>
        </div>
      </div>
      <p>
        I work full time at a company in Jakarta as a software developer, working remotely from my hometown. in the
        midst of busy work, i learning rust programming and DevOps for improve my skill and learn about new technology
      </p>
    </div>
  </div>

</div><!-- End About Me -->

