<div [class.matero-header-above]="options.headerPos === 'above'"
     [class.matero-header-fixed]="options.headerPos === 'fixed'"
     [class.matero-header-white]="themeColor !== 'dark'"
     [class.matero-navbar-side]="options.navPos === 'side'"
     [class.matero-navbar-top]="options.navPos === 'top'"
     [class.matero-sidenav-collapsed]="options.sidenavCollapsed && options.navPos !== 'top'"
     [dir]="options.dir"
     class="matero-container-wrap">
  <ng-progress></ng-progress>

  <!-- Header Above -->
  @if (options.showHeader && options.headerPos === 'above') {
    <app-header
      (toggleSidenav)="sidenav.toggle()"
      (toggleSidenavNotice)="sidenavNotice.toggle()"
      [showBranding]="true">
    </app-header>
  }

  <mat-sidenav-container autoFocus autosize class="matero-container">
    <mat-sidenav #sidenav (closedStart)="onSidenavClosedStart()"
                 (openedChange)="onSidenavOpenedChange($event)"
                 [mode]="isOver ? 'over' : 'side'"
                 [opened]="options.navPos==='side' && options.sidenavOpened && !isOver"
                 class="matero-sidenav">
      <app-sidebar (toggleCollapsed)="toggleCollapsed()"
                   [showHeader]="options.headerPos!=='above'"
                   [showToggle]="!isOver"
                   [showUser]="!!options.showUserPanel"
                   [toggleChecked]="!!options.sidenavCollapsed">
      </app-sidebar>
    </mat-sidenav>

    <mat-sidenav #sidenavNotice mode="over" position="end">
      <app-sidebar-notice></app-sidebar-notice>
    </mat-sidenav>

    <mat-sidenav-content #content class="matero-content-wrap">
      @if (options.showHeader && options.headerPos !== 'above') {
        <app-header
          [showToggle]="!options.sidenavCollapsed && options.navPos !== 'top'"
          [showBranding]="options.navPos === 'top'"
          (toggleSidenav)="sidenav.toggle()"
          (toggleSidenavNotice)="sidenavNotice.toggle()">
        </app-header>
      }

      @if (options.navPos === 'top') {
        <app-topmenu></app-topmenu>
      }

      <div class="matero-content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
