<!-- ======= Header ======= -->
<header id="header">
  <div class="container">

    <h1><a routerLink="/profiles">Agus Suhardi</a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a> -->
    <h2>I'm a passionate <span>Software Developer</span> from Indonesia</h2>

    <app-profiles-menu></app-profiles-menu>

    <div class="social-links">
      <a class="github" href="https://github.com/agussuhardi-dev" target="_blank"><i class="bi bi-github"></i></a>
      <a class="twitter" href="https://x.com/agus_suhardi/" target="_blank"><i class="bi bi-twitter"></i></a>
      <a class="facebook" href="https://web.facebook.com/agussuhardii/" target="_blank"><i
        class="bi bi-facebook"></i></a>
      <a class="instagram" href="https://www.instagram.com/agussuhardii/" target="_blank"><i
        class="bi bi-instagram"></i></a>
      <a class="linkedin" href="https://www.linkedin.com/in/agussuhardi" target="_blank"><i class="bi bi-linkedin"></i></a>

    </div>

  </div>
</header><!-- End Header -->
