<app-profiles-menu style="
  display: flex;
  flex-direction: row-reverse;
  margin: 0 24px;
"></app-profiles-menu>

<!-- ======= About Me ======= -->
<div class="about-me container" style="margin-top: 100px">

  <div class="container">

    <div class="section-title">
      <h2>Skill</h2>
      <p>Technology that I have used</p>
    </div>

    <div class="row">

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="icon-box">
          <img src="/images/java.png" width="200" />
        </div>
      </div>


      <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="icon-box">
          <img src="/images/spring.png" width="200" />
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="icon-box">
          <img src="/images/php.png" width="200" />
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="icon-box">
          <img src="/images/flutter.png" style="background: aliceblue;" width="200" />
        </div>
      </div>


      <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="icon-box">
          <img src="/images/iso8583.webp" width="200" />
        </div>
      </div>


      <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="icon-box">
          <img src="/images/angular.png" width="200" />
        </div>
      </div>


      <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="icon-box">
          <img src="/images/docker.png" width="200" />
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="icon-box">
          <img src="/images/kafka.png" style="background: aliceblue;" width="200" />
        </div>
      </div>


      <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="icon-box">
          <img src="/images/microservice.png" width="200" />
        </div>
      </div>


    </div>

  </div>
</div><!-- End Services Section -->
