<div class="tab-wrap">

  <input checked class="tab" id="tab1" name="tabGroup2" type="radio">
  <label for="tab1">Lorem Ipsum</label>

  <input class="tab" id="tab5" name="tabGroup2" type="radio">
  <label for="tab5">QR</label>

  <input class="tab" id="random" name="tabGroup2" type="radio">
  <label for="random">Random</label>

  <input class="tab" id="uuid" name="tabGroup2" type="radio">
  <label for="uuid">UUID</label>


  <div class="tab__content">
    <app-generators-lorem-ipsum></app-generators-lorem-ipsum>
  </div>

  <div class="tab__content">
    <app-generators-qr></app-generators-qr>
  </div>


  <div class="tab__content">
    <app-generators-random></app-generators-random>
  </div>

  <div class="tab__content">
    <app-generators-uuid></app-generators-uuid>
  </div>


</div>
